<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const params = new URLSearchParams(window.location.search);
            const error = params.get('error');
            if (error) {
                alert(error);
            }
        });
    </script>
</head>
<body>

<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{% block nav %}{{ nav }}{% endblock %}</span>
        
        {% if 'username' in session %}
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
        </div>
        {% endif %}

    </div>
</nav>

{% block content %}{% endblock %}
{% block scripts %}{% endblock %}

</body>
</html>
